#container {
    height: 450px;
    width: 450px;
    border: 60px double #000;
    border-radius: 50%;
    margin: 0 auto;
}

#image {
    height: 450px;
    width: 450px;
    background-image: url("car.png");
    background-size: 35% 17%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    animation: car 5s infinite;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes car {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}